.List {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 25px;
  overflow-x: scroll;
  -webkit-text-security: disc;
}

.List--answersVisible {
  -webkit-text-security: none;
}
