.ListItem { 
  border-bottom: 1px solid #DCDCDC;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  margin-bottom: 7px;
  margin-right: 25px;
  padding: 4px 0 4px 1px;
  text-transform: capitalize;
  width: calc(30% - 25px);
}

.ListItem--pangram {
  color: #F8CD05;
}