.ListItem { 
  border-bottom: 1px solid #DCDCDC;
  font-size: 16px;
  margin-bottom: 7px;
  margin-right: 25px;
  padding: 4px 0 4px 1px;
  text-transform: capitalize;
  width: calc(30% - 25px);
}

.ListItem--pangram {
  color: #F8CD05;
}

.ListItem--found {
  -webkit-text-security: none;
}

.ListItem--revealed {
  color: #F11313;
}