.Controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Controls__Sort {
  font-size: 16px !important;
  min-width: 200px;
}

.Controls__Button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 40px;
  color: #333;
  font-size: 16px;
  min-width: 150px;
  padding: 15px;
  cursor: pointer;
}
